config alfis 'config'
	option enabled '1'
	option origin '0000001D2A77D63477172678502E51DE7F346061FF7EB188A2445ECA3FC0780E'
	option check_blocks '8'
	option net_listen '[::]:4244'
	option net_public '1'
	option net_yggdrasil_only '1'
	option net_peers 'peer-v4.alfis.name:4244
peer-v6.alfis.name:4244
peer-ygg.alfis.name:4244'
	option dns_listen '127.0.0.1:5353'
	option dns_threads '4'
	option dns_forwarders 'https://dns.adguard.com/dns-query'
	option dns_bootstraps '9.9.9.9:53
94.140.14.14:53'
	option mining_threads '0'
	option mining_lower '1'